.MyButton{
    cursor: pointer;
    border: none;
    border-radius: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
    
    white-space: nowrap;
    font-family: "Gowun Dodum", sans-serif;

    /* font-family: 'Nanum Myeongjo', serif; */
}

.default {
    background-color: #ececec;
    color: black;
}

.positive {
    background-color: #64c964;
    color: white;
}

.negative {
    background-color: #fd565f;
    color: white;
}
