@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo:wght@400;700;800&display=swap");

body{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gowun Dodum", sans-serif;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px){ /* 650이상!일 때 적용 */
  .App {
    width: 640px;
  }
}

@media (max-width: 650px){ /* 650이하!일 때 적용 */
  .App {
    width: 90vw; /* 90% */
  }
}

#root{
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}



